.collapse { 
	box-sizing: border-box;
	position: absolute;
	top:15px;
	right:12px;
	border:1px solid #d1d1d1;
	background:#FFF;
	font-weight:normal;
	color:#6a6f74;
	padding:1px 10px 1px 30px;
	text-align: right;
	min-width: 114px;
	transition: all 100ms ease-in-out;
	background-color: rgba(249, 249, 249, 0.50);
	user-select: none;
}
.collapse:hover { 
	border:1px solid #6a6f74;
	background-color: #FFF;
	cursor: pointer;
}
.collapse:focus { 
	background-color: #FFF;
	box-shadow: none;
	outline:none;
}
.collapse:before { 
	position: absolute;
	top:0;
	left:3px;
	content: "";
	background: url(../images/icon--collapse.svg);
	background-size: 10px;
	width: 20px;
	height: 20px;
	background-repeat: no-repeat;
	background-position: center center;
}

.collapse--active { 

}
.collapse--active:before { 
	background: url(../images/icon--expand.svg);
	background-size: 10px;
	width: 20px;
	height: 20px;
	background-repeat: no-repeat;
	background-position: center center;
}

.flexi-label { 
	font-style: italic;
	padding-left: 5px;
	font-size: 12px;
	color:#999;
}



/*.acf-flexible-content .layout .acf-fc-layout-handle:hover { 
	background: #f9f9f9;
}*/

.acf-flexible-content .layout .acf-fc-layout-handle { 
	background: rgba(249, 249, 249, 0.50);
}
/*.acf-flexible-content .layout .acf-fc-layout-handle:hover .acf-fc-layout-order,
.acf-flexible-content .layout.-collapsed .acf-fc-layout-order { 
	background: #FFF;
}*/



.acf-fields.-left .collapse{ 
	position: relative;
	left:0;
	top:0;
}
